<ion-view view-title="Order Summary">
    <ion-content>
        <div class="row list item" style="margin-bottom:0px;border-right: 0px;">
            <div class="col" style="padding:11px;">
                <div class="item-button-left">
                <button class="button button-balanced" ng-click="CallTel({{currentOrder.customer.mobile}})">
                    <i class="icon ion-ios-telephone"></i>
                </button>
                    </div>
                <b style="padding-left: 52px;">{{currentOrder.customer.mobile}}</b>
            </div>
            <div class="col text-right" style="padding:11px; padding-right: 50px;">
                <div class="item-button-right">
                    <button class="button button-icon icon" style="right: 6px;">
                        <i class="icon ion-clock"></i>
                    </button>
                </div>
                <i>{{currentOrder.created | date:'shortTime'}}</i>
            </div>
        </div>

        <div class="row" style="margin-top: 6px;">
            <div class="col">
                <p style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">
          <span>
              <i class="ion-ios-home" style="font-size: 22px;color: #C6C6C6;"></i>
            {{currentOrder.customer.addLine1}}
            {{currentOrder.customer.addLine2}}
            </span>
                </p>
            </div>
        </div>



        <div class="row item item-divider">
            <span class="col">Item List ({{currentOrder.order.orderitem.length}})</span>
            <span class="col text-right"><h5 class="buy-text">Tick if <br>available</h5></span>
        </div>
        <ion-scroll style="max-height: 280px;">
            <ion-list>
                <ion-item class="row" ng-repeat="product in currentOrder.order.orderitem"  style="margin-top: 0px;" ng-class="{'order-enabled':product.available, 'order-disabled':!product.available,'order-blink': $index==currentBlink}" ng-click="acceptItem(product,$event)">
                    <div class="col col-20">
                        <img ng-src='http://images.getmeher.com/{{shopCategory}}/{{product.ImgFileName}}' width="64px" height="64px">
                    </div>
                    <div class="col hyphenate" style="margin-top: 12px;white-space: normal;padding-bottom: 10px;
" ng-class="{'hide-text': product.ordernow}" >
                        {{product.name | limitTo:32}}
                <span style="display: block;color: #aaa;font-size: 14px;" ng-if="product.subtitle">
                ({{product.subtitle}})
                </span>
                    </div>

                    <div class="col col-10 text-center" style="margin-top: 10px;">
                        {{product.price | number:0}}
                        <br/>
                        <span style="display: block;color: #aaa;font-size: 14px;">Rs</span>
                    </div>
                    <div class="col  text-center" style="margin-top: 10px;">
                        {{product.quantity}}
                        <br/>
                        <span style="display: block;color: #aaa;font-size: 14px;">{{product.unit || 'QTY'}}</span>
                    </div>


                    <div class="col col-10" style="margin-right: 12px;margin-top: 3px">
                        <label class="checkbox">
                            <input type="checkbox" id="acceptItemFlag" ng-model="product.available" ng-change="acknowledgeOrder(product)">
                            <!--<input type="checkbox" ng-model="product.available" ng-change="grandTotal = grandTotal + product.price;">-->
                        </label>
                    </div>
                </ion-item>
            </ion-list>
        </ion-scroll>
        <div class="row item item-divider">
            <span class="col" style="color:#aaa; font-size: 12px;"><i>Click on circle above to accept the item</i></span>
            <span class="col text-right">Total: {{grandTotal}} Rs/-</span>
        </div>

        <div class="row" ng-class="{'blinkblue': orderStatus == 'sent'}" ng-hide="orderStatus !== 'sent'" style="margin-top: 1px;">
            <div class="col">
                <button id="verify" ng-click="showAcceptAlert()" class="button button-block icon-right ion-checkmark-round button-balanced">Accept</button>
            </div>
            <div class="col">
                <button ng-click="showRejectAlert()"  class="button button-block icon-right ion-close button-assertive">Reject</button>
            </div>
        </div>

        <div class="row" ng-show="orderStatus == 'accepted'" >
            <div class="col text-center">
                <button ng-click="deliverySent()" class="button button-block icon-right ion-checkmark-round button-balanced">Delivery Sent</button>
            </div>
        </div>

    </ion-content>
</ion-view>
